.calendar-league-container {
    display: inline;
    flex-direction: column;
    align-items: center;

}

.filter-league{
    display: flex;
    align-items: center;
    margin: 8px;
    font-size: 14px;
    font-weight: bold;
    background: none;
    width: 500px;
    height: 50px;
    justify-content: flex-start;
    border: var(--border);
    border-radius: 8px;

}

.filter-league > input{
    padding: 4px 8px;
    border-radius: 4px;
}

.filter-league > *{
    margin: 12px 4px;
}

.title-name{
    margin: 12px;
    font-size: 28px;
    font-weight: bold;
    color: var(--font-chield)
}
.back{
    display: flex;
    margin: 8px;
    padding: 8px;
    border: var(--border);
    border-radius: 8px;
    flex-direction: column;
    width: 300px;
    height: 50px;
    justify-content: center;
}

.back-l{
    cursor: pointer;
    color: var(--font-title);

}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 2px;
}

.page-item{
    display: flex;
    margin: 4px;
    padding: 2px;
    border: var(--border);
    border-radius: 4px;
    background-color: var(--bg);
    color: var(--font-main);
}

.page-link{
    cursor: pointer;
    font-size: 14px;
    color: var(--font-chield);
    margin: 2px;

}

.break-pagination::marker{
    content: '';
}