@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300&display=swap');

#root{
  --main-color: #c5e5fc;
  --font-main:#262626;
  --font-chield: #095d3f;
  --font-title: #65011d;
  --light-color: #a6cdf5;
  --bg:#fceae9;
  --border:.14rem solid rgb(120, 165, 181);
  --box-shadow:0 .5rem 1.5rem rgba(2, 0, 0, 0.1);
  --blue-color: #5665e1;
  --gradient: linear-gradient(#7fcedb 40.77%, rgb(224, 222, 218) 60.15%);
    height: 100%;
}

header {
  height: 100px;
  top:0; left:0; right: 0;
  background: var(--light-color);
  opacity: 0.8;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  z-index: 10;
}

.logo {
  cursor: pointer;
  margin: 16px 16px 16px 30px;
  width: auto;
  height: 90px;
}

.main-title{
  font-size: 22px;
  display: flex;
}

.left-title{
  cursor: pointer;
  color: var(--font-main);
  margin-left: 10px;
}

.right-title{
  cursor: pointer;
  color: var(--font-title);
  margin-left: 40px;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  transition: all .3s ease-out;
}

.background{
  min-height:100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background: var(--main-color);
}

.body {
  max-width: 1920px;
  padding: 0 15px;
  margin: 30px auto 0;
  text-align: center;
}

@media (min-width: 320px) {
  .loader-styles {
    position: absolute;
    left: 40%;
    top: 50%;
  }
}

@media (min-width: 768px) {
  .loader-styles {
    position: absolute;
    left: 43%;
    top: 50%;
  }
}

@media (min-width: 1136px) {
  .loader-styles {
    position: absolute;
    left: 45%;
    top: 50%;
  }
}

@media (min-width: 1366px) {
  .loader-styles {
    position: absolute;
    left: 48%;
    top: 50%;
  }
}

